<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet-Home</title>
</head>
<body>
    <h1>Hello this is Sweet-Home</h1>
    <h3><%=2*5 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatibus optio saepe ex voluptatum nihil, assumenda accusamus rerum iste aut magnam mollitia enim delectus praesentium adipisci odit sequi possimus molestiae non laboriosam. Explicabo, minus?</p>
    <button>Enter</button>
</body>
</html>