@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Prevents selection */
    -webkit-user-select: none; /* For Safari and Chrome */
    -ms-user-select: none; /* For Internet Explorer */
    -moz-user-select: none;
}

.tile{
    background-color: rgba(128, 128, 128, 0.79);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    
}

.fillblack{
    color:black;
}

.tile:hover{
    background-color: rgba(128, 128, 128, 0.475);
}